/* @font-face {
    font-family: Roboto Roboto-Regular 'Roboto-Regular';
    src: url(../Fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Roboto Roboto-Light 'Roboto-Light';
    src: url(../Fonts/Roboto/Roboto-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: Roboto Roboto-Black 'Roboto-Black';
    src: url(../Fonts/Roboto/Roboto-Black.ttf);
    font-weight: 900;
}
@font-face {
    font-family: Roboto Roboto-Bold 'Roboto-Bold';
    src: url(../Fonts/Roboto/Roboto-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: Merriweather Merriweather-Black 'Merriweather-Black';
    src: url(../Fonts/Merriweather/Merriweather-Black.ttf);
    font-weight: 900;
}
@font-face {
    font-family: Merriweather Merriweather-Regular 'Merriweather-Regular';
    src: url(../Fonts/Merriweather/Merriweather-Regular.ttf);
    font-weight: 400;
} */

body,html,p,div,h1,h2,h3,h4{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-block-start: 0;
	margin-block-end: 0;
	color: inherit;
	scroll-behavior: smooth;
	font-family: Merriweather, serif;
	font-family: Roboto, sans-serif;
}

object{
	pointer-events: none;
}
body.noScroll{
	overflow-y: hidden;
}

body{
    /* height: 100vh;*/
    /* width: 100vw;  */
	overflow-x: hidden;
	text-decoration: none;
    /* font: 300 33px/40px Roboto; */
}

.mainBody{
	height: max-content;
    /* width: 100vw; */
    position: relative;
    margin: auto;
    /* overflow: hidden; */
    background: transparent;
    /* transform: scale(calc(1600/2560)); */
	transform-origin: top;
	z-index: 1;
	padding-top: 60px;
	
}
.sharebox{
	position: fixed;
    bottom: 40px;
    right: 40px;
    height: 40px;
    width: 40px;
    z-index: 100;
    cursor: pointer;
}
.sharebox span{
	background-image: url(../Images/Share.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    background-color: #FFF;
    border: 4px solid #000000;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
	width: 100%;
	transform: translate(-50%, -50%);
	z-index: 1;
}
.sharebox .inner{
	height: 0px;
	width: 100%;
	overflow: hidden;
	background: #7770;
    border: 4px solid #0000;
    width: 100%;
    box-shadow: 0px 0px 4px 0px #0000;
	transform: translateY(0px);
	transition: all 400ms ease-out;
}
.sharebox:hover .inner{
	background: #777f;
	border: 4px solid #000f;
	box-shadow: 0px 0px 4px 0px #0007;
	height: 190px;
    transform: translateY(-167px);    
}
.sharebox a{
	width: 100%;
	text-align: center;
	line-height: 40px;
	height: 40px;
	display: block;	
}
.sharebox a:nth-child(2n){
	border-bottom: 1px solid #FFF7;
	border-top: 1px solid #FFF7;
}
.sharebox .fb  object{
	object-fit: contain;
	filter: invert(1);
	width: 80%;
	height: 100%;
}
.sharebox .fb {
    /* background-image: url(../Images/fb.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain; */
    overflow: hidden;
	z-index: 1;
	/* filter: invert(1); */
	background-color: #1877f2;
}
.sharebox .tw object{
	object-fit: contain;
	filter: invert(1);
	width: 80%;
	height: 100%;
}
.sharebox .tw{
	/* background-image: url(../Images/tw.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain; */
    overflow: hidden;
	z-index: 1;
	/* filter: invert(1); */
	background-color: #1da1f2;
}
.sharebox .in object{
	object-fit: contain;
	filter: invert(1);
	width: 80%;
	height: 100%;
}
.sharebox .in{
	/* background-image: url(../Images/Share.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain; */
    overflow: hidden;
	z-index: 1;
	/* filter: invert(1); */
	background-color: #EF426F;
}
.sharebox .wa object{
	object-fit: contain;
	filter: invert(1);
	width: 80%;
	height: 100%;
}
.sharebox .wa{
	/* background-image: url(../Images/wa.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain; */
    overflow: hidden;
	z-index: 1;
	/* filter: invert(1); */
	background-color: #25d366;
}
.section{
	background: #242424;
	color: #FFF;
}
header{
	position: fixed;
	height: 60px;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	display: flex;
	justify-content: space-between;
	padding: 0 15px;
	background: #000000;
	box-sizing: border-box;
}
header .left, header .right{
	height: 40px;
	margin-top: auto;
	margin-bottom: auto;
}
header .right{
	display: flex;
	align-items: center;
}
header .left img{
	height: 40px;
}
header .right a{
	text-transform: uppercase;
	padding: 4px 10px;
	font-size: 14px;
	line-height: 0.8;
	color: #EEE;
	text-decoration: none;
	letter-spacing: 1px;
}
header .right a>span{
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url('../Images/sprite.png');
	filter: grayscale(1);
	transition: all 250ms ease;
}
header .right a:hover>span{
	filter: grayscale(0);
}
header .right a>span.fb{
	background-position: 40px -4px;
}
header .right a>span.tw{
	background-position: -5px -23px;
}
header .right a>span.in{
	background-position: -29px -24px;
}
header .right a:nth-child(2){
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
}
.imgCont object{
	pointer-events: none;
}
.imgCont.topImgCont.topSliderImage{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0%;
	top: 0%;
	/* transform: translate(-50%,-50%); */
	flex-basis: 100%;
}
.imgCont.topImgCont.topSliderImage:nth-child(1){
	background-image: url('../Images/Slider/1_gettyimages-1208902754.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	object-fit: cover;
	background-attachment: fixed;
	z-index: -1;
}
.imgCont.topImgCont.topSliderImage:nth-child(2){
	background-image: url('../Images/Slider/1_oldbridge-kashmeregate_171752.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	object-fit: cover;
	background-attachment: fixed;
	z-index: -2;
}
.imgCont.topImgCont.topSliderImage:nth-child(3){
	background-image: url('../Images/Slider/4_presidenthouse_7402.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	object-fit: cover;
	background-attachment: fixed;
	z-index: -3;
}
.imgCont.topImgCont.topSliderImage:nth-child(4){
	background-image: url('../Images/Slider/5e73bda7c485404f2b7ca3c3.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	object-fit: cover;
	background-attachment: fixed;
	z-index: -4;
}
.imgCont.topImgCont.topSliderImage:nth-child(5){
	background-image: url('../Images/Slider/0520-Alex-Majoli-Italy-Embed-23.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	object-fit: cover;
	background-attachment: fixed;
	z-index: -5;
}
.imgCont.topImgCont.topSliderImage:nth-child(6){
	background-image: url('../Images/Slider/0520-Alex-Majoli-Italy-Embed-27.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	object-fit: cover;
	background-attachment: fixed;
	z-index: -6;
}
.imgCont.topImgCont.topSliderImage:nth-child(7){
	background-image: url('../Images/Slider/0520-Alex-Majoli-Italy-Embed-28.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	object-fit: cover;
	background-attachment: fixed;
	z-index: -7;
}
.imgCont.topImgCont.topSliderImage:nth-child(8){
	background-image: url('../Images/Slider/0520-Alex-Majoli-Italy-Embed-29.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	object-fit: cover;
	background-attachment: fixed;
	z-index: -8;
}
.imgCont.topImgCont.topSliderImage:nth-child(9){
	background-image: url('../Images/Slider/anastasiia-chepinska-OBmBHmrc3pw-unsplash.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	object-fit: cover;
	background-attachment: fixed;
	z-index: -9;
}
.imgCont.topImgCont.topSliderImage:nth-child(10){
	background-image: url('../Images/Slider/chotiner-covid-india.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	object-fit: cover;
	background-attachment: fixed;
	z-index: -10;
}
.imgCont.topImgCont.topSliderImage:nth-child(11){
	background-image: url('../Images/Slider/covid-19-new-york-city-hospitals.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	object-fit: cover;
	background-attachment: fixed;
	z-index: -11;
}

.imgCont.topImgCont.topSliderImage:nth-child(12){
	background-image: url('../Images/Slider/tedward-quinn-qN5ZqBoIWKo-unsplash.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	object-fit: cover;
	background-attachment: fixed;
	z-index: -12;
}
.topImageSlider{
	display: flex;
	height: calc(100vh - 60px);
	position: relative;
}
div#topImageSlider{
	overflow: hidden;
}
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}
.loader.active::before,.loader.active::after{
	opacity: 0;
	pointer-events: none;
}
.loader::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: #FFF;
}
.loader::after{
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: flex;
	justify-content: center;
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #242424; /* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	z-index: 100;
	animation: spin 2s linear infinite forwards;  
}
@keyframes spin {
	0% { transform: translate(-50%,-50%) rotate(0deg); }
	100% { transform: translate(-50%,-50%) rotate(360deg); }
  }
.topImageSlider>span{
	position: absolute;
	width: 100%;
	height: 25%;
	background: #333C;
	mix-blend-mode: screen;
}
.topImageSlider>span:nth-of-type(1){
	top: 0;
}
.topImageSlider>span:nth-of-type(2){
	top: 25%;
}
.topImageSlider>span:nth-of-type(3){
	top: 50%;
}
.topImageSlider>span:nth-of-type(4){
	top: 75%;
}
.topImageSlider>p{
	position: absolute;
	width: 25%;
	height: 100%;
	background: #F337;
	mix-blend-mode: multiply;
}
.topImageSlider>p:nth-of-type(1){
	left: 0;
}
.topImageSlider>p:nth-of-type(2){
	left: 25%;
}
.topImageSlider>p:nth-of-type(3){
	left: 50%;
}
.topImageSlider>p:nth-of-type(4){
	left: 75%;
}
.headingText{
	font: 900 40px/48px Merriweather;
	position: absolute;
	bottom: 100px;
	left: 50%;
	transform: translate(-50%,100%);
	width: 420px;
	padding: 3px 8px;
	color: #FFF;
	background: #000000;
	opacity: 0;
	z-index: 20;
}
.imgCont{
	position: relative;
	overflow: hidden;
}
.imgCont img{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.imgCont.topImgCont img{
	max-height: 100%;
}
.imgCont.topImgCont{
	flex-basis: 35%;
}
.imgCont.topImgCont:nth-child(2){
	flex-basis: 30%;
}
.imgCont.topImgCont:nth-child(1) img{
	left: 100%;
	top: 50%;
	transform: translate(-100%,-50%);
}
.imgCont.topImgCont:nth-child(3) img{
	left: 0%;
	top: 50%;
	transform: translate(0%,-50%);
}
.contentContainer{
	width: 420px;
	margin: auto;
}

.credits{
	padding-top: 130px;
	font: 400 12px/18px Roboto;
	color: #CCCCCC
}
.strap{
	margin-top: 37px;
	font: 400 19px/25px Merriweather;
	color: #CCCCCC
}
.text{
	font: 300 16px/26px Roboto;
}
.text.text1{
	margin-top: 43px;
}
.headline.spanishFlu{
	margin-top: 78px;
	position: relative;
	z-index: 1;
}
.headline.spanishFlu h3{
	color: #000000;
	text-align: center;
	z-index: 1;
	opacity: 0;
	font: 900 24px/50px Merriweather;
}
.headline.spanishFlu img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	/* background: #FFFC; */
}
.expandContainer.europe{
	width: 600px;
	height: 553px;
	/* min-height: calc(200vh + 600px); */
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: -90px;
	margin-right: -90px;
	overflow: hidden;
	position: relative;
}
.expandContainer.europe.europe1{
	transform: translateY(0%);
	height: 553px;
	/* height: calc(1 * 533px); */
}
.expandContainer h3{
	font: 900 16px/24px Merriweather;
	height: 33px;
}
.imgCont.europe{
	width: 600px;
	height: 533px;
}
#europe1::before{
	content: 'Europe 1914';
	position: absolute;
	left: 0;
	top: 8px;
	font: 900 16px/24px Merriweather;
	z-index: 10;
}
.europe1 .imgCont.europe{
	/* background-image: url('../Images/europe_1.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain; */
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	pointer-events: none;
	/* transform: translateY(-50%); */
	/* opacity: 0; */
	background-color: transparent;
}
.europe1 .imgCont.europe img{
	width: 100%;
}
.expandContainer .imgCont.active:nth-child(n){
	opacity: 1;
	transition: opacity 600ms ease;
}
/* .expandContainer .alliances.imgCont.europe.first{
	opacity: 1;
} */
/* .expandContainer .imgCont:nth-child(n+1){
	opacity: 0;
} */
.europe1 .imgCont.europe:nth-child(1){
	z-index: 1;
}
.europe1 .imgCont.europe:nth-child(2){
	z-index: 2;
}
.europe1 .imgCont.europe:nth-child(3){
	z-index: 3;
}
.europe1 .imgCont.europe:nth-child(4){
	z-index: 4;
}
.europe1 .imgCont.europe:nth-child(5){
	z-index: 5;
}
.firstSign{
	margin-top: 42px;
	font: 900 16px/26px Roboto;
}
.expandContainer.europe.europe2{
	height: 763px;
}
.expandContainer.europe.europe2 h3{
	margin-left: 90px;
}
.expandContainer .first{
	position: static !important;
	height: auto;
	/* opacity: 1 !important; */
}
.europe2 .imgCont.fluFlow{
	position: absolute;
	top: 0;
	height: 800px;
	width: 100%;
	/* background-color: #242424; */
}
.europe2 .imgCont.fluFlow.first{
	opacity: 1;
}
.europe2 .imgCont.fluFlow.active{
	opacity: 1;
	transition: opacity 600ms ease;
}
.europe2 .imgCont.fluFlow object{
	object-fit: contain;
}
.europe2 .imgCont.fluFlow:nth-child(1){
	z-index: 1;
}
.europe2 .imgCont.fluFlow:nth-child(2){
	z-index: 2;
}
.europe2 .imgCont.fluFlow:nth-child(3){
	z-index: 3;
}
.europe2 .imgCont.fluFlow:nth-child(4){
	z-index: 4;
}
.europe2 .imgCont.fluFlow:nth-child(5){
	z-index: 5;
}

.expandContainer.worldContainer{
	height: 476px;
}
.worldContainer .imgCont.worldFlow{
	position: absolute;
	top: 0;
	height: 475px;
	width: 100%;
}
.worldContainer .imgCont.worldFlow.active{
	opacity: 1;
	transition: opacity 600ms ease;
}
.worldContainer .imgCont.worldFlow:nth-child(1){
	z-index: 1;
}
.worldContainer .imgCont.worldFlow:nth-child(2){
	z-index: 2;
}
.worldContainer .imgCont.worldFlow:nth-child(3){
	z-index: 3;
}
.worldContainer .imgCont.worldFlow:nth-child(4){
	z-index: 4;
}
.worldContainer .imgCont.worldFlow:nth-child(5){
	z-index: 5;
}
.worldContainer .imgCont.worldFlow:nth-child(6){
	z-index: 6;
}
.immersiveBg{
	width: 100%;
	height: 25vw;
	margin-left: 0;
	margin-right: 0;
	position: relative;
	overflow: hidden;
	background: #242424;
}
.immersiveBg object{
	position: absolute;
	height: auto;
	z-index: 100;
	bottom: -2%;
	width: 200%;
	left: 50%;
	transform: translateX(-50%);
	/* object-fit: contain; */
	/* object-position: center; */
	
	
	
}
.section.white{
	background: #FFF;
	color: #242424;
}

.indiacontainer .imgCont.india{
	/* background-image: url('../Images/europe_1.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain; */
	position: static;
	top: 0;
	height: 500px;
	width: 100%;
	/* transform: translateY(-50%); */
	/* opacity: 0; */
	background-color: transparent;
}
.indiacontainer .imgCont.india.active{
	opacity: 1;
	transition: opacity 600ms ease;
}
/* .indiacontainer .imgCont.india:nth-child(1){
	background-image: url('../Images/india-spread.svg');
} */
.white .firstSign{
	color: #242424;
}
.firstSign.nonCap{
	margin-top: 42px;
}
.indiaCompGifCont{
	height: 200px;
	width: 100%;
	margin-top: 28px;
	position: relative;
	
}
.indiaCompGif{
	position: absolute;
    right: 0;
    top: 0;
    width: 173px;
	height: 100%;
	background-color: #FFF;
    background-position: 175px center;
    background-size: 420px 100%;
	animation: aniBG 12s infinite forwards;
	-webkit-animation: aniBG 12s infinite forwards;
	-moz-animation: aniBG 12s infinite forwards;

}
@keyframes aniBG {
	0% {background-image: url("../Images/svg/SpanishFlu/IndiaMortality/1.svg");}
	8% {background-image: url("../Images/svg/SpanishFlu/IndiaMortality/2.svg");}
	16% {background-image: url("../Images/svg/SpanishFlu/IndiaMortality/3.svg");}
	24% {background-image: url("../Images/svg/SpanishFlu/IndiaMortality/4.svg");}
	32% {background-image: url("../Images/svg/SpanishFlu/IndiaMortality/5.svg");}
	40% {background-image: url("../Images/svg/SpanishFlu/IndiaMortality/6.svg");}
	48% {background-image: url("../Images/svg/SpanishFlu/IndiaMortality/7.svg");}
	56% {background-image: url("../Images/svg/SpanishFlu/IndiaMortality/8.svg");}
	64% {background-image: url("../Images/svg/SpanishFlu/IndiaMortality/9.svg");}
	72% {background-image: url("../Images/svg/SpanishFlu/IndiaMortality/10.svg");}
	80% {background-image: url("../Images/svg/SpanishFlu/IndiaMortality/11.svg");}
	88% {background-image: url("../Images/svg/SpanishFlu/IndiaMortality/12.svg");}
	100% {background-image: url("../Images/svg/SpanishFlu/IndiaMortality/12.svg");}
}
@-moz-keyframes aniBG{
	0% {background-image: url("../Images/svg/SpanishFlu/IndiaMortality/1.svg");}
	8% {background-image: url("../Images/svg/SpanishFlu/IndiaMortality/2.svg");}
	16% {background-image: url("../Images/svg/SpanishFlu/IndiaMortality/3.svg");}
	24% {background-image: url("../Images/svg/SpanishFlu/IndiaMortality/4.svg");}
	32% {background-image: url("../Images/svg/SpanishFlu/IndiaMortality/5.svg");}
	40% {background-image: url("../Images/svg/SpanishFlu/IndiaMortality/6.svg");}
	48% {background-image: url("../Images/svg/SpanishFlu/IndiaMortality/7.svg");}
	56% {background-image: url("../Images/svg/SpanishFlu/IndiaMortality/8.svg");}
	64% {background-image: url("../Images/svg/SpanishFlu/IndiaMortality/9.svg");}
	72% {background-image: url("../Images/svg/SpanishFlu/IndiaMortality/10.svg");}
	80% {background-image: url("../Images/svg/SpanishFlu/IndiaMortality/11.svg");}
	88% {background-image: url("../Images/svg/SpanishFlu/IndiaMortality/12.svg");}
	100% {background-image: url("../Images/svg/SpanishFlu/IndiaMortality/12.svg");}
}
@-webkit-keyframes aniBG{
	0% {background-image: url("../Images/svg/SpanishFlu/IndiaMortality/1.svg");}
	8% {background-image: url("../Images/svg/SpanishFlu/IndiaMortality/2.svg");}
	16% {background-image: url("../Images/svg/SpanishFlu/IndiaMortality/3.svg");}
	24% {background-image: url("../Images/svg/SpanishFlu/IndiaMortality/4.svg");}
	32% {background-image: url("../Images/svg/SpanishFlu/IndiaMortality/5.svg");}
	40% {background-image: url("../Images/svg/SpanishFlu/IndiaMortality/6.svg");}
	48% {background-image: url("../Images/svg/SpanishFlu/IndiaMortality/7.svg");}
	56% {background-image: url("../Images/svg/SpanishFlu/IndiaMortality/8.svg");}
	64% {background-image: url("../Images/svg/SpanishFlu/IndiaMortality/9.svg");}
	72% {background-image: url("../Images/svg/SpanishFlu/IndiaMortality/10.svg");}
	80% {background-image: url("../Images/svg/SpanishFlu/IndiaMortality/11.svg");}
	88% {background-image: url("../Images/svg/SpanishFlu/IndiaMortality/12.svg");}
	100% {background-image: url("../Images/svg/SpanishFlu/IndiaMortality/12.svg");}
}
.postgif{
	margin-top: 42px;
}
.expandContainer.europe.indiaFlowContainer{
	width: 420px;
	height: 436px;
	margin-left: 0;
	margin-right: 0;
}
.indiaFlowContainer .imgCont.indiaFlow{
	position: absolute;
	top: 0;
	height: 436px;
	width: 100%;
	/* transform: translateY(-50%); */
	/* opacity: 0; */
	background-color: transparent;
}
.indiaFlowContainer .imgCont.indiaFlow.active{
	opacity: 1;
	transition: opacity 600ms ease;
}
.indiaFlowContainer .imgCont.indiaFlow:nth-child(1){
	z-index: 1;
}
.indiaFlowContainer .imgCont.indiaFlow:nth-child(2){
	z-index: 2;
}
.indiaFlowContainer .imgCont.indiaFlow:nth-child(3){
	z-index: 3;
}
.indiaFlowContainer .imgCont.indiaFlow:nth-child(4){
	z-index: 4;
}
.indiaFlowContainer .imgCont.indiaFlow:nth-child(5){
	z-index: 5;
}

.indiaSpreadContainer{
	width: 600px;	
	height: 435px;
	margin-bottom: 42px;
}
.indiaSpreadContainer .indiaSpread.imgCont:nth-child(1){
	background-image: url('../Images/static.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 600px;
	height: 100%;
	width: 100%;
}
.expandContainer.europe.usaSpreadContainer{
	width: 600px;
	height: 692px;
	margin-left: calc(210px - 300px);
	margin-right: calc(210px - 300px);
	margin-bottom: 26px;
	position: relative;
	/* transform: translate(-25%); */
}
.labelFlex,.labelFlex>div{
	font: 300 14px/21px Roboto;
	display: flex;
	align-items: center;
}
.labelFlex img{
	height: 60px;
}
.labelFlex span{
	display: block;
	width: 60px;
	height: 40px;
	background: #999;
	margin: auto;
}
.labels::before{
	content: 'Tap/Hover on city names';
	position: absolute;
	left: 50%;
	top: 150%;
	transform: translateX(-50%);
	font: 300 14px/21px Roboto;
	border: 1px solid #7a7a7a;
	padding: 3px 8px;
	animation: fade 4s linear infinite forwards;
}
.removeHighlight.labels::before{
	display: none;
}
@keyframes fade {
	0% { opacity: 0;transform: translateX(-100%);}
	50% { opacity: 1;transform: translateX(-50%);}
	90% { opacity: 1;transform: translateX(-50%);}
	100% { opacity: 0;transform: translateX(0%);}
}
.labels{
	position: absolute;
	top: 5px;
	height: 150px;
	width: 100%;
	background-color: #FFF;
	z-index: 2;
}
.cities{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}
.cities span{
	font-family:Roboto;font-weight:300;font-size: 14px;
}
.cities span:nth-child(1){border-bottom: 4px solid #DD6E6E;}
.cities span:nth-child(2){border-bottom: 4px solid #2FC0D3;}
.cities span:nth-child(3){border-bottom: 4px solid #7C9952;}
.cities span:nth-child(4){border-bottom: 4px solid #A38C43;}
/* 
DD6E6E
2FC0D3
7C9952
A38C43 */
.labels h3{
	text-align: center;
}
.labelFlex>div:nth-child(1){
	margin-right: 25px;
}
.labelFlex span,.labelFlex img{
	margin-right: 10px;
}
.blackTextLabel{
	display: none;
	position: absolute;
	background: #FFF0;
	top: 100px;
	right: 0;
	width: 250px;
	height: 125px;
	/* overflow: hidden; */
	z-index: 10;
	/* padding: 5px; */
}
.blackTextLabel.addWhite{
	background: #FFF;
}
.blackTextLabel>div{
	display: none;
}
.blackTextLabel>div.active{
	display: flex;
	flex-wrap: wrap;
	color: #242424;
	position: relative;
	border: 1px solid #242424;
	box-sizing: border-box;
	padding: 5px;
}
.blackTextLabel>div h3{
	font: 900 16px/20px Roboto;
	height: 25px;
	width: 100%;
}
.blackTextLabel>div p{
	font: 400 14px/14px Roboto;
}
.blackTextLabel>div p:nth-child(2){
	font: 400 14px/16px Roboto;
    position: absolute;
    opacity: 1;
    top: calc(100% + 10px);
    color: #242424;
    text-align: left;
    width: 80%;
    left: 0;
}
.blackTextLabel>div p:nth-child(2) b{
	font: 900 28px/21px Roboto;
}
.blackTextLabel>div p:nth-child(3){
	font: 400 14px/16px Roboto;
}
.usaSpreadContainer .usCity.imgCont{
	height: 100%;
	width: 100%;
	z-index: 1;
	position: absolute;
	top: 0px;
	left: 0;
	pointer-events: none;
	opacity: 0;
	transition: all 400ms ease;
	background: #FFF;
}
.usaSpreadContainer .usCity.imgCont.active{
	opacity: 1;
}
.usaSpreadContainer .usCity.imgCont img{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translate(0,0);
	pointer-events: none;
}
.expandContainer .imgCont.usaSpread:nth-child(n){
	opacity: 1;
}
.firstSign.nonCap.center{
	text-align: center;
}
.firstSign.nonCap.center p{
	font: 300 14px/16px Roboto;
}
.circleAnimation{
	position: relative;
	width: 241px;
	height: 288px;
	margin: 15px auto 42px;
	text-align: center;
}
.circleAnimation h3{
	font: 900 16px/24px Roboto;
}
.circleAnimation p{
	font: 400 14px/24px Roboto;
}
.circleAnimation::after{
	content: '';
	position: absolute;
	width: 241px;
	height: 241px;
	bottom: 0;
	left: 50%;
	background:#242424;
	border-radius: 50%;
	transform: translateX(-50%);
}
.circleAnimation::before{
	content: '';
	position: absolute;
	width: 195px;
	height: 195px;
	bottom: 0;
	left: 50%;
	background:#ED213B;
	z-index: 1;
	border-radius: 50%;
	transform: translateX(-50%);
}
.data2{
	position: absolute;
    color: #FFF;
    z-index: 2;
    bottom: 97px;
    left: 50%;
    transform: translate(-50%, 50%);
}
.topImageSlider.end{
	margin-top: 30px;
	max-height: 100vh;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background-image: url('../Images/Philadelfia.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	object-fit: cover;
	background-attachment: fixed;
}
.topImageSlider.end .imgCont.topImgCont.animEndImg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #FFF;
}
.topImageSlider.end .imgCont.topImgCont.animEndImg:nth-child(1){
	z-index: 1;
	
}
.topImageSlider.end .imgCont.topImgCont.animEndImg:nth-child(1){
	background-image: url('../Images/Philadelfia.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	object-fit: cover;
	background-attachment: fixed;
}
.topImageSlider.end .imgCont.topImgCont.animEndImg:nth-child(2){
	background-image: url('../Images/StLouis.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	object-fit: cover;
	background-attachment: fixed;
}
.end .imgCont.topImgCont{
	flex-basis: 100%;
	width: 100vw;
	height: calc(0.56283941039 * 100vw);
	max-height: 1451px;
	max-width: 2578px;
}
.end .imgCont.topImgCont.end:nth-child(1) img{
	left: 50%;
	transform: translate(-50%,-50%);
}
.expandContainer.europe.indiaSpreadContainer{
	height: 438px;
}
.mainBody.mainBodyYF{
	height: max-content;
    /* width: 100vw; */
    position: relative;
    margin: auto;
    /* overflow: hidden; */
    background: transparent;
    /* transform: scale(calc(1600/2560)); */
	transform-origin: top;
	z-index: 1;
	padding-top: 0px;
	
}
.mainBodyYF .section{
	background: #242424;
	color: #FFF;
	margin-left: auto;
	margin-right: auto;
}
.topImageSliderYF.topImageSlider{
	display: flex;
	width: 900px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
.headlinerYF.headliner {
    width: max-content;
    position: absolute;
    left: 50%;
    top: 57px;
    z-index: 100;
    height: 85px;
    transform: translateX(-50%);
}
.headliner.headlinerAIDS{
	margin-top: 40px;
	max-width: 100%;
	width: 420px;
	margin: 40px auto 0;
}

.headlinerYF.headliner img{
	height: 85px;
}
.topImageSliderYF .imgCont.topImgCont{
	width: 100%;
	height: 100%;
	flex-basis: 100%;
	overflow: hidden;
}
.topImageSliderYF .imgCont.topImgCont img{
	position: absolute;
	width: 100%;
	height: auto;
	object-fit: cover;
	top: 0;
	transform: translate(-50%,0%);
}

.mainBodyYF .headline.spanishFlu img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	/* background: #FFFC; */
}
.expandContainer.lousiana{
	width: 600px;
	margin-top: 40px;
	margin-left: -90px;
	margin-right: -90px;
	height: 604px;
}

.mainBodyYF .expandContainer .imgCont.active:nth-child(n){
	opacity: 1;
	transition: opacity 600ms ease;
}
.mainBodyYF .expandContainer .alliances.imgCont.europe.first{
	opacity: 1;
}
.mainBodyYF .expandContainer .imgCont:nth-child(n+1){
	opacity: 0;
}
.mainBodyYF .europe1 .imgCont.europe:nth-child(1){
	background-image: url('../Images/europe_1.png');
}
.mainBodyYF .europe1 .imgCont.europe:nth-child(2){
	background-image: url('../Images/europe_2.png');
}
.mainBodyYF .europe1 .imgCont.europe:nth-child(3){
	background-image: url('../Images/europe_3.png');
}
.mainBodyYF .europe1 .imgCont.europe:nth-child(4){
	background-image: url('../Images/europe_4.png');
}
.mainBodyYF .europe1 .imgCont.europe:nth-child(5){
	background-image: url('../Images/europe_5.png');
}
.mainBodyYF .firstSign{
	/* padding-top: 42px; */
	font: 900 16px/26px Roboto;
}
h3.firstSign.nonCap.nonCapMig{
	margin-top: 0;
	padding-top: 42px;
}
.mainBodyYF .firstSign.nonCap{
	margin-top: 0;
}
.mainBodyYF .firstSign.nonCap.stylized{
	margin: 25px auto;
	font: 900 16px/26px Merriweather;
}
.immersiveBgYF.immersiveBg{
	width: 100%;
	height: 25vh;
	margin-left: 0;
	margin-right: 0;
	margin-top: 28px;
	margin-bottom: -10px;
	position: relative;
	overflow: hidden;
	background: linear-gradient(to bottom, #FFF 0 98%, #242424 98% 100%);
    background-image: url(../Images/YellowFeverSilhouette.svg);
    background-position: center top;
    background-repeat: no-repeat;
	background-size: 200%;
}

.mainBodyYF .section.white{
	width: 900px;
	background: #FFF;
	color: #242424;
}
.expandContainer.europe.newOrleansFlowContainer{
	width: 600px;
	height: 600px;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: -90px;
	margin-right: -90px;
}
.expandContainer.europe.newOrleansFlowContainer.active{
	padding: 40px 0;
}
#newOrleansFlowContainer::before{
	content: 'Migration to New Orleans (1803-1860)';
	position: absolute;
	left: 50%;
	top: 0px;
	font: 900 16px/24px Merriweather;
	z-index: 10;
	width: 420px;
	transform: translateX(-50%);
}

.newOrleansFlowContainer .imgCont.newOrleansFlow{
	position: absolute;
	top: 0;
	height: 600px;
	background-color: transparent;
	width: 100%;
	height: 100%;
}
.newOrleansFlowContainer .imgCont.newOrleansFlow.first{
	position: static !important;
	height: auto;
}
/* .newOrleansFlowContainer .imgCont.newOrleansFlow.active{
	opacity: 1;
	transition: opacity 600ms ease;
} */
.newOrleansFlowContainer .imgCont.newOrleansFlow:nth-child(1){
	z-index: 1;
}
.newOrleansFlowContainer .imgCont.newOrleansFlow:nth-child(2){
	z-index: 2;
}
.newOrleansFlowContainer .imgCont.newOrleansFlow:nth-child(3){
	z-index: 3;
}
.newOrleansFlowContainer .imgCont.newOrleansFlow:nth-child(4){
	z-index: 4;
}
.newOrleansFlowContainer .imgCont.newOrleansFlow:nth-child(5){
	z-index: 5;
}
.newOrleansFlowContainer .imgCont.newOrleansFlow:nth-child(6){
	z-index: 6;
}
.newOrleansFlowContainer .imgCont.newOrleansFlow:nth-child(7){
	z-index: 7;
}
.newOrleansFlowContainer .imgCont.newOrleansFlow:nth-child(8){
	z-index: 8;
}
.newOrleansFlowContainer .imgCont.newOrleansFlow:nth-child(9){
	z-index: 9;
}
.newOrleansFlowContainer .imgCont.newOrleansFlow:nth-child(10){
	z-index: 10;
}
.newOrleansFlowContainer .imgCont.newOrleansFlow:nth-child(11){
	z-index: 11;
}
.newOrleansFlowContainer .imgCont.newOrleansFlow:nth-child(12){
	z-index: 12;
}

.greaterpYF.greaterp p{
	margin: 0 auto 26px;
}
.tableuContainerYF.expandContainer.europe.tableuContainer{
	width: 900px;
	margin-left: -240px;
	margin-right: -240px;
	height: auto;
}
.tableuContainerYF.tableuContainer img{
	width: 100%;
}
.tableuContainerYF.tableuContainer p{
	font: 300 14px/24px Roboto;
}
.capitalismContainerYF.expandContainer.europe.capitalismContainer{
	width: 100%;
	margin: 0 auto;
	height: auto;
}
.capitalismContainerYF.expandContainer.europe.capitalismContainer p{
	font: 300 14px/24px Roboto;
	margin: 12px 15px 28px;
}
.rBorderLeftYF.rBorderLeft{
	position: relative;
	padding-left: 55px;
	margin-top: 26px;
	margin-bottom: 26px;
}
.rBorderLeftYF.rBorderLeft::before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 100%;
	background-color: #C1272D;
}
.rBorderLeftYF.rBorderLeft .merri{
	font: 400 19px/25px Merriweather;
	color: #CCCCCC;
}
.rBorderLeftYF.rBorderLeft .sub{
	font: 400 14px/24px Roboto;
	margin-top: 11px;
}
.testSARSContainerYF.expandContainer.europe.testSARSContainer{
	width: 600px;
	margin-left: -90px;
	margin-right: -90px;
}
.testSARSContainerYF.expandContainer.europe.testSARSContainer img{
	width: 100%;
}
.testSARSContainerYF.testSARSContainer h3{
	padding-right: 85px;
	height: auto;
	font: 900 16px/19px Merriweather;
	position: absolute;
	top: 0;
}
.testSARSContainerYF.testSARSContainer p{
	padding-right: 85px;
	font: 400 13px/24px Roboto;
	position: absolute;
	top: 60px;
}
.finalNormalYF.finalNormal{
	margin: 37px auto 41px;
}
.endWhiteYF.endWhite,.endWhiteAIDS.endWhite{
	width: 600px;
	margin-left: -90px;
	margin-right: -90px;
	padding: 40px 40px 40px 55px;
	background: #FFF;
	color: #242424;
	position: relative;
}
.endWhiteAIDS.endWhite{
	padding: 0px 40px 0px 55px;
	margin-bottom: 40px;
}
.endWhiteYF.endWhite::before,.endWhiteAIDS.endWhite::before{
	content: '';
	position: absolute;
	top: 0px;
	left: 0;
	height: calc(100%);
	width: 20px;
	background: #C1272D;
}
.endWhiteYF.endWhite h3,.endWhiteAIDS.endWhite h3{
	color: #000000;
	font: 900 16px/26px Roboto;
}
.endWhiteYF.endWhite p,.endWhiteAIDS.endWhite p{
	font: 400 19px/25px Merriweather;
	color: #242424;
	margin-top: 15px;
}
.endWhiteYF.expandContainer.europe.capitalismContainer img{
	width: 100%;
}

.topImageSliderAIDS.topImageSlider{
	flex-direction: column;
	height: auto;
}
.mt40{
	margin-top: 40px;
}
.headliner,.headliner object{
	max-height: 80px;
	width: 100%;
}
.topImgContAIDS.imgCont.topImgCont{
	flex-basis: unset;
    justify-content: center;
    display: flex;
    margin: 40px 0;
}
.topImgContAIDS.imgCont.topImgCont img{
	width: 900px;
	height: 500px;
	margin: auto;
	position: static;
	transform: translate(0,0);
}
.addonAIDS.addon{
	max-width: 390px;
	margin: 15px auto 0;
	text-align: center;
}
.europe.ravageHIV{
	width: 600px;
	height: 500vh;
	margin-left: -90px;
	margin-right: -90px;
}
.timelineOpen {
    width: 100%;
    top: 0;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0%);
    color: #FFF;
    text-align: center;
    display: flex;
    flex-direction: column;
	align-items: center;
	z-index: 1;
	transition: all 0.1s ease-in;
}
.timelineOpen.active{
	transform: translate(-100%, 0%);
}
.timelineOpen h3{
	font: 900 18px/24px Merriweather;
}
.timelineOpen p{
	font: 700 16px/24px Roboto;
}
.timeline {
	height: 500vh;
	width: 11067px;
	top: 100px !important;
	background: linear-gradient(45deg, #f35621,#d7d745,#D623A1);
	background-image: url('../Images/svg/AIDSTimelineNew.svg');
	background-size: auto 405px;
	background-repeat: no-repeat;
	background-position: calc(50vw - 300px) center;
	background-attachment: fixed;
	position: relative;
}
.fixedtimeline.active{
	opacity: 1;
	visibility: visible;
}
.fixedtimeline{
	content: '';
	opacity: 0;
	position: fixed;
	visibility: hidden;
    width: 600px;
    height: 73px;
    top: 50%;
    left: 50%;
    /* background-color: #FFF; */
    transform: translate(-50%, -191px);
	z-index: 1;
	display: flex;
	pointer-events: none;
	transition: opacity 400ms ease-in;
}
.fixedtimeline .inner{
	width: auto;
    margin: auto;
    text-align: center;
	padding: 8px 15px;
	color: #888888;
    border: 1px solid #888888;
	font: 900 16px/31px Merriweather;
	opacity: 0;
}
.fixedtimeline object{
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.timelineOpenInner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.timeline object{
	height: 405px;
}
.newspaperAIDS{
	padding: 40px 0;
}
.contentContainer.contentContainerFear{
	padding-bottom: 40px;
}
.newspaperAIDS p{
	font: 300 14px/24px Roboto;
}
.expandContainer.europe.videoHIV{
	width: 900px;
	height: 675px;
	margin-left: -240px;
	margin-right: -240px;
}
#cToPlayFade{
	background-image: url('../Images/svg/AIDS/grim\ reaper.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	cursor: pointer;
}
#cToPlayFade object{
	pointer-events: none;
	width: 250px;
    height: 112px;
    left: 50%;
    top: 50%;
    position: absolute;
	transform: translate(-50%, -50%);
	
}
.cToPlay1>.spinner{
	pointer-events: none;
    width: 70px;
    height: 70px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border: 4px solid #C1272D;
    border-top: 4px solid #FFF;
	border-radius: 50%;
	transition: all 200ms ease-in;
    animation: spin 4s linear infinite forwards;
    z-index: 1;
}
#cToPlayFade:hover .spinner{
	border: 4px solid transparent;
	-webkit-animation-play-state:paused;
	-moz-animation-play-state:paused;
	-o-animation-play-state:paused;
	animation-play-state:paused;
	cursor: pointer;
}
#cToPlayFade p object{
	top: 63%;
}
.hysteria{
	margin: 40px auto 15px;
	font: 900 16px/31px Merriweather;
	width: 129px;
	height: 31px;
	border: 1px solid #242424;
	text-align: center;
}
.hysteriaText{
	font: 300 16px/26px Roboto;
	text-align: center;
}
.hysteriaText span{
	display: block;
	width: 62px;
	height: 4px;
	background: #C1272D;
	margin: 13px auto;
}
.expandContainer.europe.hysteriaFigs{
	width: 420px;
	height: auto;
	margin-left: 0;
}
.expandContainer.europe.hysteriaFigs object{
	pointer-events: none;
}
.expandContainer.europe.diana{
	height: auto;
}
.expandContainer.europe.diana::before{
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	height: 100%;
	z-index: 10;
	transform: translate(-50%,-50%);
	background-image: url('../Images/svg/AIDS/Princess\ Di\ pic\ frame.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 600px;
}
.expandContainer.europe.diana::after{
	content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    z-index: 9;
    transform: translate(-50%,-50%);
    border: 15px solid #FFF;
    box-sizing: border-box;
}
.expandContainer.europe.diana img{
	width: 100%;
}
.endWhiteAIDS.endWhite p.lightText{
	font: 300 16px/26px Roboto;
}
.endWhiteAIDS.endWhite p:nth-child(3){
	margin-top: 0;
}
.enCredits {
    padding: 15px;
    color: #777;
    
    border-top: 1px solid;
}
.enCredits p{
	display: flex;
	width: 420px;
	margin: auto;
	max-width: 100%;
	justify-content: space-between;
	align-items: flex-end;
	font: 400 12px/12px Roboto;
}
.enCredits img {
    height: 32px;
    margin-bottom: 0px;
}
.noShow,.topImageSliderYF.topImageSlider{
	display: none;
}
@media screen and (max-width: 900px){
	.mainBodyYF .section.white{width: 100%;}
	
	.topImageSliderYF.topImageSlider{
		width: 100%;
		height: 100vh;
	}
	.mainBodyYF .contentContainer{
		width: 100%;
	}
	.mainBodyYF .contentContainer>div,.mainBodyYF .contentContainer>h3{
		width: 420px;
		margin-left: auto;
		margin-right: auto;
	}
	.mainBodyYF .expandContainer.lousiana,.mainBodyYF .expandContainer.europe.usaSpreadContainer,.mainBodyYF .expandContainer.europe.newOrleansFlowContainer,.mainBodyYF .expandContainer.europe.tableuContainer{
		width: 100%;
		height: auto;
		margin-left: 0;
		margin-right: 0;
	}
	.mainBodyYF .expandContainer.europe .imgCont{
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	
	.mainBodyYF .expandContainer.lousiana,.mainBodyYF .expandContainer.europe.usaSpreadContainer,.mainBodyYF .expandContainer.europe.newOrleansFlowContainer,.mainBodyYF .expandContainer.europe.tableuContainer,.mainBodyYF .expandContainer.europe.testSARSContainer{
		width: calc(100%);
		margin-left: 0;
		margin-right: 0;
	}
}
@media screen and (max-width: 640px){
	.addonAIDS.addon{
		margin: 15px auto 0;
	}
	.expandContainer.europe .imgCont{
		opacity: 0;
	}
	.imgCont.topImgCont.topSliderImage:nth-child(1){
		background-image: url('../Images/Slider/Mobile/1_gettyimages-1208902754.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		object-fit: cover;
		background-attachment: fixed;
		z-index: -1;
	}
	.imgCont.topImgCont.topSliderImage:nth-child(2){
		background-image: url('../Images/Slider/Mobile/1_oldbridge-kashmeregate_171752.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		object-fit: cover;
		background-attachment: fixed;
		z-index: -2;
	}
	.imgCont.topImgCont.topSliderImage:nth-child(3){
		background-image: url('../Images/Slider/Mobile/4_presidenthouse_7402.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		object-fit: cover;
		background-attachment: fixed;
		z-index: -3;
	}
	.imgCont.topImgCont.topSliderImage:nth-child(4){
		background-image: url('../Images/Slider/Mobile/5e73bda7c485404f2b7ca3c3.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		object-fit: cover;
		background-attachment: fixed;
		z-index: -4;
	}
	.imgCont.topImgCont.topSliderImage:nth-child(5){
		background-image: url('../Images/Slider/Mobile/0520-Alex-Majoli-Italy-Embed-23.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		object-fit: cover;
		background-attachment: fixed;
		z-index: -5;
	}
	.imgCont.topImgCont.topSliderImage:nth-child(6){
		background-image: url('../Images/Slider/Mobile/0520-Alex-Majoli-Italy-Embed-27.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		object-fit: cover;
		background-attachment: fixed;
		z-index: -6;
	}
	.imgCont.topImgCont.topSliderImage:nth-child(7){
		background-image: url('../Images/Slider/Mobile/0520-Alex-Majoli-Italy-Embed-28.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		object-fit: cover;
		background-attachment: fixed;
		z-index: -7;
	}
	.imgCont.topImgCont.topSliderImage:nth-child(8){
		background-image: url('../Images/Slider/Mobile/0520-Alex-Majoli-Italy-Embed-29.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		object-fit: cover;
		background-attachment: fixed;
		z-index: -8;
	}
	.imgCont.topImgCont.topSliderImage:nth-child(9){
		background-image: url('../Images/Slider/Mobile/anastasiia-chepinska-OBmBHmrc3pw-unsplash.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		object-fit: cover;
		background-attachment: fixed;
		z-index: -9;
	}
	.imgCont.topImgCont.topSliderImage:nth-child(10){
		background-image: url('../Images/Slider/Mobile/chotiner-covid-india.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		object-fit: cover;
		background-attachment: fixed;
		z-index: -10;
	}
	.imgCont.topImgCont.topSliderImage:nth-child(11){
		background-image: url('../Images/Slider/Mobile/covid-19-new-york-city-hospitals.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		object-fit: cover;
		background-attachment: fixed;
		z-index: -11;
	}
	
	.imgCont.topImgCont.topSliderImage:nth-child(12){
		background-image: url('../Images/Slider/Mobile/tedward-quinn-qN5ZqBoIWKo-unsplash.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		object-fit: cover;
		background-attachment: fixed;
		z-index: -12;
	}
	.contentContainer{
		width: 100%;
	}
	.contentContainer>div,.contentContainer>h3{
		width: 420px;
		margin-left: auto;
		margin-right: auto;
	}
	.expandContainer.europe,.expandContainer.europe.usaSpreadContainer,.expandContainer.europe.indiaFlowContainer{
		width: calc(100% + 30px);
		height: auto;
		margin-left: -15px;
		margin-right: 0;
	}
	#europe1::before {
		content: 'Europe 1914';
		position: absolute;
		left: 5px;
		top: 0;
		font: 900 16px/16px Merriweather;
		z-index: 10;
		width: 10px;
	}
	#fluFlowContainer::before {
		content: 'Diffusion of Influenza Within & From Europe';
		position: absolute;
		left: 20px;
		top: 6px;
		font: 900 16px/24px Merriweather;
		z-index: 10;
		width: 195px;
		background: #242424;
	}
	#fluFlowContainer::after{
		content: 'Autumn 1918';
		position: absolute;
		left: 20px;
		top: 60px;
		font: 400 16px/24px Roboto;
		z-index: 10;
		width: 195px;
		background: #242424;
	}
	#indiaFlowContainer::before{
		content: 'How it spread across India';
		position: absolute;
		left: 0;
		top: 2%;
		font: 900 16px/24px Merriweather;
		z-index: 10;
		width: 100%;
		background: #FFF;
		text-align: center;
		height: 6%;
	}
	#worldFlowContainer::before {
		content: 'Worldwide Diffusion of Influenza';
		position: absolute;
		left: 14%;
		top: -5px;
		font: 900 16px/24px Merriweather;
		z-index: 10;
		width: 100%;
		background: #242424;
	}
	#worldFlowContainer::after {
		content: 'Second Wave: Autumn 1918';
		position: absolute;
		left: 14%;
		top: 17px;
		font: 400 14px/24px Roboto;
		z-index: 10;
		width: auto;
		background: #242424;
	}
	
	.first.alliances.imgCont.india {
		opacity: 1 !important;
	}
	.rBorderLeftYF.rBorderLeft{
		width: calc( 100% + 15px );
    	margin-left: -15px;
	}
	.expandContainer.europe .imgCont{
		width: 100%;
		height: auto;
		margin-left: 0;
		margin-right: 0;
	}
	
	div#europe1,.alliances.alliancesOfEurope.imgCont.europe.first{
		height: calc(100vw * 0.927);
	}
	.newOrleansFlowContainer .imgCont.newOrleansFlow{
		height: 100%;
	}
	#newOrleansFlowContainer::before{
		text-align: center;
		max-width: 100%;
	}
	.expandContainer.europe .fluFlow.imgCont{
		height: calc(100vw * 1.34306569343);
		background-size: contain;
	}
	.expandContainer.europe .indiaFlow.imgCont{
		height: calc(100vw * 1.03649635036);
		background-size: contain;
	}
	.expandContainer.europe .worldFlow.imgCont{
		height: calc(100vw * 0.800486618);
		height: auto;
		background-size: cover;
	}
	div#worldFlowContainer{
		height: calc(100vw * 0.800486618);
	}
	
	.mainBodyYF .expandContainer.europe .imgCont{
		height: calc(0.9 * (100vw - 30px));
		background-size: cover;
	}
	.blackTextLabel{
		display: block;
	}
	.headingText{
		font: 900 27px/48px Merriweather;
		max-width: 100%;
		padding: 3px 20px;
	}
	header{
		max-width: 100vw;
	}
	.topImageSlider{
		max-height: 100vh;
	}
	.topImageSliderYF .imgCont.topImgCont img {
		position: absolute;
		width: 100%;
		height: auto;
		object-fit: cover;
		top: 100%;
		transform: translate(-50%,-100%);
		object-position: bottom;
	}
	.topImageSliderYF .imgCont.topImgCont {
		width: 100%;
		height: 100%;
		flex-basis: 100%;
		overflow: hidden;
		background: #151515;
	}
	.topImageSliderYF.topImageSlider{
		height: 100vw;
	}
	.expandContainer.usaSpreadContainer.europe .imgCont{
		height: auto;
	}
	.indiaCompGif{
		width: 40%;
		/* background-size: 100%; */
	}
	.immersiveBgYF.immersiveBg {
		width: 100%;
		height: 72px;
		background-size: 1035px;
	}
	.contentContainer{
		width: auto;
		margin-left: 15px;
		margin-right: 15px;
	}
	.contentContainer>div, .contentContainer>h3{
		width: 100%;
	}
	.mainBodyYF .contentContainer{
		width: auto;
		margin-left: 15px;
		margin-right: 15px;
		/* overflow-x: hidden; */
	}
	.expandContainer.lousiana{
		width: calc(100% + 30px);
		margin-top: 40px;
		margin-left: -15px;
		margin-right: -15px;
		height: 100vw;
	}
	.mainBodyYF .expandContainer.lousiana,.mainBodyYF .expandContainer.europe.usaSpreadContainer,.expandContainer.europe.newOrleansFlowContainer,.tableuContainerYF.expandContainer.europe.tableuContainer,.capitalismContainerYF.expandContainer.europe.capitalismContainer,.testSARSContainerYF.expandContainer.europe.testSARSContainer{
		width: calc(100% + 30px);
		margin-left: -15px;
		margin-right: -15px;
	}
	.expandContainer.europe.newOrleansFlowContainer,.tableuContainerYF.expandContainer.europe.tableuContainer{
		height: auto;
	}
	.expandContainer.europe.newOrleansFlowContainer{
		height: calc(100vw * 1.0097323601);
	}
	.tableuContainerYF.tableuContainer p{
		margin: 0 15px 0;
	}
	.mainBodyYF .contentContainer>div, .contentContainer>h3,.expandContainer.europe.videoHIV{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		height: auto;
	}
	.expandContainer.europe.videoHIV{
		height: 381px;
	}
	.expandContainer.europe.videoHIV .imgCont,.expandContainer.europe.videoHIV .overCaption.repeat,.expandContainer.europe.videoHIV .inner{
		width: 100%;
		height: 100%;
	}
	.expandContainer.europe.videoHIV .imgCont{
		display: none;
	}
	span#cToPlay1{
		position: static;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: flex-end;
	}

	#cToPlayFade p object{
		top: unset;
		bottom: 0;
		transform: translate(-50%,0);
	}
	#cToPlayFade{
		background-size: cover;
	}
	.newspaperAIDS img,.expandContainer.europe.hysteriaFigs object,.endWhiteYF.endWhite, .endWhiteAIDS.endWhite,.expandContainer.europe.hysteriaFigs{
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		
	}
	.endWhiteYF.endWhite, .endWhiteAIDS.endWhite{
		max-width: unset;
		width: calc(100% + 30px);
		margin-left: -15px;
		margin-right: -15px;
	}
	.expandContainer.europe.diana{
		max-width: 100%;
		margin: 40px auto;
	}
	.expandContainer.europe.diana::before,.expandContainer.europe.diana::after{
		background-size: cover;
		width: 101%;
		height: 101%;
	}
	h3.firstSign.nonCap.nonCapMig{
		width: 100%;
	}
	.mainBodyYF .tableuContainer p,.mainBodyYF .capitalismContainer p{
		margin: 0 15px;
		/* text-align: center; */
	}
	.testSARSContainerYF.expandContainer.europe.testSARSContainer h3,.testSARSContainerYF.expandContainer.europe.testSARSContainer p{
		width: calc(100% - 30px);
		padding-right: 0;
		margin: 0 15px;
		position: static;
	}
	.mainBodyYF .expandContainer.europe.testSARSContainer img {
		width: 100%;
		position: relative;
		top: -65px;
	}
	.topImgContAIDS.imgCont.topImgCont img{
		width: 100%;
		height: auto;
	}
	/* .mainBodyYF .contentContainer>div, .mainBodyYF .contentContainer>h3{
		max-width: 100%;
	}
	.mainBodyYF .expandContainer.europe.testSARSContainer,.mainBodyYF .expandContainer.lousiana,.mainBodyYF .expandContainer.europe.tableuContainer,.mainBodyYF .expandContainer.europe.capitalismContainer,.mainBodyYF .expandContainer.europe.newOrleansFlowContainer{
		width: calc(100% + 30px);
		margin-left: -15px;
		margin-right: -15px;
		max-width: unset;
	} */
	/* .mainBodyYF .expandContainer.europe.newOrleansFlowContainer .imgCont{
		height: 100vw;
	} */
	.mainBodyYF .expandContainer.europe.testSARSContainer{
		margin-bottom: -65px;
	}
	.mainBodyYF .expandContainer.lousiana object{
		width: 100%;
	}
	.timeline{
		background-position: left center;
		height: 500vh;
	}
	.mainBodyYF .immersiveBg{
		width: 100%;
		height: 80px;
		margin-left: 0;
		margin-right: 0;
		margin-top: 28px;
		margin-bottom: -10px;
		position: relative;
		overflow: hidden;
		background: transparent;
	}
	.mainBodyYF .immersiveBg object{
		min-width: 1000px;
	}
	.expandContainer.europe.usaSpreadContainer{
		width: 100%;
		height: auto;
		margin-left: 0;
		margin-right: 0;
		overflow: visible;
		margin-top: 120px;
	}
	.labels {
		position: absolute;
		top: -85px;
		height: 178px;
		width: 100%;
		background-color: #FFF;
		z-index: 2;
		padding-top: 10px;
		border-top: 4px solid #242424;
	}
	.labels h3{
		height: auto;
	}
	.mainBody{
		overflow-x: hidden;
	}
	.expandContainer.europe.europe2{
		height: auto;
	}
	.topImageSliderAIDS.topImageSlider{
		margin-top: 40px;
	}
}