@font-face {
    font-family: Roboto;
    src: url(/Pandemic1-Corona/Fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Roboto;
    src: url(/Pandemic1-Corona/Fonts/Roboto/Roboto-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: Roboto;
    src: url(/Pandemic1-Corona/Fonts/Roboto/Roboto-Black.ttf);
    font-weight: 900;
}
@font-face {
    font-family: Roboto;
    src: url(/Pandemic1-Corona/Fonts/Roboto/Roboto-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: Merriweather;
    src: url(/Pandemic1-Corona/Fonts/Merriweather/Merriweather-Black.ttf);
    font-weight: 900;
}
@font-face {
    font-family: Merriweather;
    src: url(/Pandemic1-Corona/Fonts/Merriweather/Merriweather-Regular.ttf);
    font-weight: 400;
}

body,html,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-block-start: 0;
	margin-block-end: 0;
	color: #FFFFFF;
}
body{
    /* height: 100vh;
    width: 100vw; */
	/* overflow: hidden; */
	text-decoration: none;
    font: 300 33px/40px Roboto;
}
.mainBody{
	height: max-content;
    width: 100vw;
    position: relative;
    margin: auto;
    /* overflow: hidden; */
    background: transparent;
    /* transform: scale(calc(1600/2560)); */
	transform-origin: top;
	z-index: 1;
	padding-top: 60px;
	background: #242424;
}
header{
	position: fixed;
	height: 60px;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
	background: #000000;
}
header .left, header .right{
	height: 40px;
	margin-top: auto;
	margin-bottom: auto;
}
header .left img{
	height: 40px;
}
header .right a{
	text-transform: uppercase;
	padding: 0 10px;
	font-size: 14px;
	line-height: 0.8;
	color: #EEE;
	text-decoration: none;
	letter-spacing: 1px;
}
header .right a:nth-child(2){
	border-left: 1px solid #EEE;
	border-right: 1px solid #EEE;
}
.topImageSlider{
	display: flex;
	height: 900px;
}
.imgCont{
	position: relative;
	overflow: hidden;
}
.imgCont img{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.imgCont.topImgCont img{
	max-height: 100%;
}
.imgCont.topImgCont{
	flex-basis: 35%;
}
.imgCont.topImgCont:nth-child(2){
	flex-basis: 30%;
}
.imgCont.topImgCont:nth-child(1) img{
	left: 100%;
	top: 50%;
	transform: translate(-100%,-50%);
}
.imgCont.topImgCont:nth-child(3) img{
	left: 0%;
	top: 50%;
	transform: translate(0%,-50%);
}
.contentContainer{
	width: 420px;
	margin: auto;
}
.credits{
	margin-top: 130px;
	font: 400 12px/18px Roboto;
	color: #CCCCCC
}
.strap{
	margin-top: 37px;
	font: 400 19px/25px Merriweather;
	color: #CCCCCC
}
.text{
	font: 300 16px/26px Roboto;
}
.text.text1{
	margin-top: 43px;
}
.headline.spanishFlu{
	margin-top: 78px;
	position: relative;
}
.headline.spanishFlu h3{
	color: #000000;
	font: 900 24px/36px Merriweather;
}
.headline.spanishFlu img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	background: #FFFC;
}
.expandContainer.europe{
	width: 600px;
	margin-top: 36px;
	margin-left: -90px;
	margin-right: -90px;
}
.expandContainer.europe.europe1{
	height: 500vh;
}
.expandContainer h3{
	font: 900 16px/24px Merriweather;
	height: 33px;
}
.imgCont.europe{
	margin-top: 4px;
	width: 600px;
	height: 533px;
	/* border: 1px solid #FFFC; */
	
}
.europe1 .imgCont.europe{
	background-image: url('../Images/europe_1.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 1531px 772px;
	/* background-attachment: fixed; */
	position: sticky;
	top: 20vh;
}
.firstSign{
	margin-top: 42px;
	font: 900 16px/26px Roboto;
}
.expandContainer.europe.europe2{
	height: 981px;
	margin-top: 108px;
}
.expandContainer.europe.europe2 h3{
	margin-left: 90px;
}